extends ./layouts/main.pug

block content
  .container
    include header.pug
      .row.profile
        .col-sm-3
          each user in users
            .profile-sidebar
              .profile-userpic
                img.img-responsive(src='/images/'+user.image, alt='')
                | &#x9;&#x9;&#x9;&#x9;&#x9;
              .profile-usertitle
                .profile-usertitle-name
                    span= user.username
                    | &#x9;&#x9;&#x9;&#x9;&#x9;

              .profile-usermenu
                ul.nav
                  li.active
                    a(href='/home')
                      i.glyphicon.glyphicon-home
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Home
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='/profile')
                      i.glyphicon.glyphicon-user
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Profile
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='/twit')
                      i.glyphicon.glyphicon-pencil
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Tweet
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
        .col-sm-6
          .row
            each cell in twits
              .form-box
                .form-top
                  .form-top-left
                    h3
                      span= cell.username
                  .form-top-right
                      span= cell.time
                hr
                .form-bottom#tweet
                  span= cell.tweet_text
        .col-sm-3
          h4 May People You Know ???
            each cell in follows
              .profile-sidebar
                .profile-userpic
                  img.img-responsive(src='/images/'+cell.image, alt='')
                  | &#x9;&#x9;&#x9;&#x9;&#x9;
                  a(href='/userprofile/'+cell.id)=cell.username
                .profile-usertitle
                  .profile-usertitle-name
                  | &#x9;&#x9;&#x9;&#x9;&#x9;
                form(action='/follow', method='POST')
                  .profile-userbuttons
                    input(type='hidden' name='follower' value = cell.id)
                    button.btn.btn-primary.btn-sm(type='submit') Follow


